@model MvcEx4.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<h3>Name: @Model.FirstName @Model.LastName</h3>
<hr/>
<h4>Email: @Model.Email</h4>
<h4>Phone: @Model.Phone</h4>
<h4>Age: @Model.Age</h4>